.login-box {
	width: 100%;
	max-width: 600px;
}

.svy-securityux-chart {
	height: 250px;
	max-width: 300px;
}

.svy-securityux-width-95 {
	min-width: 95%;
}

.svy-securityux-margin-top-100 {
	margin-top: 100px;
}